<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="com.moji.appium.listener.ExtentTestNGIReporterListener"/>
        <listener class-name="com.moji.appium.listener.mojiScreenShotListener"/>
    </listeners>
    <test name="127.0.0.1:52001">
        <parameter name="udid" value="127.0.0.1:52001"/>
        <parameter name="port" value="4490"/>
        <classes>
            <class name="com.mushishi.appium.business.testmoji1"/>
        </classes>
    </test>
</suite>
